<!-- Heading -->
<p>Welcome to the Blood Bank Repository</p>

<!-- Text -->
<div class="container">
<p class="text">A blood bank is a center where blood gathered as a result of blood donation is stored and preserved for later use in blood transfusion. The term "blood bank" typically refers to a division of a hospital where the storage of blood product occurs and where proper testing is performed (to reduce the risk of transfusion related adverse events). However, it sometimes refers to a collection center, and indeed some hospitals also perform collection.</p>
</div>

<!-- List -->
<div class="container">
<p class="text">List of Blood Groups Available...</p>
</div>

<!-- Blood Group Table -->
<div class="container">
  <div class="table">
    <ul>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="aplus">
                <p>A+</p>
              </div>
              <div class="bottle">
                  <p>3</p>
              </div>
            </div>
            <div class="col-md-3">
                <div class="aplus">
                  <p>B+</p>
                </div>
                <div class="bottle">
                    <p>8</p>
                </div>
              </div>
            <div class="col-md-3">
              <div class="aplus">
                <p>O+</p>
              </div>
              <div class="bottle">
                  <p>2</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="aplus">
                <p>AB+</p>
              </div>
              <div class="bottle">
                  <p>5</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="aplus">
                  <p>A-</p>
                </div>
                <div class="bottle">
                    <p>9</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="aplus">
                  <p>B-</p>
                </div>
                <div class="bottle">
                    <p>6</p>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="aplus">
                    <p>O-</p>
                  </div>
                  <div class="bottle">
                      <p>8</p>
                  </div>
                </div>
              <div class="col-md-3">
                <div class="aplus">
                  <p>AB-</p>
                </div>
                <div class="bottle">
                    <p>3</p>
                </div>
              </div>
            </div>
          </div>
        </li> 
    </ul>
  </div>
</div><br>

<!-- Button -->
<button><a href="/reg">Need Blood ?</a></button>