<div class="table">
  <ul>
    <li>
        <div class="aplus" id="drag1" draggable="true" ondragstart="drag(event)">
            <p>A+</p>
          </div>
    </li>
    <li>
        <div class="aplus" id="drag1" draggable="true" ondragstart="drag(event)">
            <p>B+</p>
          </div>
          
    </li>
    <li>
        <div class="aplus" id="drag1" draggable="true" ondragstart="drag(event)">
            <p>O+</p>
          </div>
          
    </li>
    <li>
        <div class="aplus" id="drag1" draggable="true" ondragstart="drag(event)">
            <p>AB+</p>
          </div>
          
    </li>
    <li>
        <div class="aplus" id="drag1" draggable="true" ondragstart="drag(event)">
            <p>A-</p>
          </div>
          
    </li>
    <li>
        <div class="aplus" id="drag1" draggable="true" ondragstart="drag(event)">
            <p>B-</p>
          </div>
          
    </li>
    <li>
        <div class="aplus" id="drag1" draggable="true" ondragstart="drag(event)">
            <p>O-</p>
          </div>
          
    </li>
    <li>
        <div class="aplus" id="drag1" draggable="true" ondragstart="drag(event)">
            <p>AB-</p>
          </div>
          
    </li>
  </ul>
  <p class="linetext">Drag the Blood Group</p>
  <hr class="line">
</div>  

<!-- Bucket -->
<div class="bucket" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">

</div>